Repository Phoenix-Games-Revolution/ls-design, pull requests merged in 2025-05, with the labels that each got.

#80 docs(ISSUE TEMPLATE): progression template - units added
  .github/ISSUE_TEMPLATE/units-progression-bronze-age.yml
  .github/ISSUE_TEMPLATE/units-progression-early-iron-age.yml
Labels: documentation

#81 docs(ISSUE TEMPLATE): skills templates updated
  .github/ISSUE_TEMPLATE/units-skills-bronze-age.yml
  .github/ISSUE_TEMPLATE/units-skills-early-iron-age.yml
Labels: documentation

#106 New folders created
  Arts/Dark-Age/Promo-Arts
Labels: Dark Age

#107 Create Readme
  Arts/Dark-Age/Promo-art/Readme.md
Labels: Dark Age

#101 docs(units): paleolith units description
  roadmap/content/units/dark-age/paleolith/units-paleolith/firekeeper.md
  roadmap/content/units/dark-age/paleolith/units-paleolith/fisher.md
  roadmap/content/units/dark-age/paleolith/units-paleolith/gatherer.md
  roadmap/content/units/dark-age/paleolith/units-paleolith/hunter.md
  roadmap/content/units/dark-age/paleolith/units-paleolith/scout.md
  roadmap/content/units/dark-age/paleolith/units-paleolith/shaman.md
  roadmap/content/units/dark-age/paleolith/units-paleolith/slinger.md
  roadmap/content/units/dark-age/paleolith/units-paleolith/units.md
Labels: Roadmap

#102 feat(paleolithic): protagonist
  game-design/characters/dark-age/paleolithic/protagonist/grarh.md
Labels: Paleolithic
